{% extends 'admin_pages/base.html.twig'%}

{% block title %}Nouvel utilisateurs{% endblock %}

{% block main %}
    <h1>Nouvel Utilisateur:</h1>
    {{ form_errors(form) }}
    {{ form(form) }}
{% endblock %}
