{% extends 'base.html.twig' %}

{% block container %}

    <h1>Films à la une !</h1>
    {% include 'partials/film_carousel.html.twig' %}

    <!-- Films à l'affiche -->
    <h1>Films à l'affiche</h1>
    <div>
        {% include 'partials/films_all_carousel.html.twig' %}
    </div>
    <hr/>

    <!-- Films qui pourrait vous plaire -->
    <h1>Film qui pourrait vous plaire</h1>
    <div>

    </div>
{% endblock %}
