{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block container %}
    <div class="auth">
        <h1>Inscription:</h1>

        {{ form_errors(registrationForm) }}

        {{ form(registrationForm) }}
    </div>
{% endblock %}
