<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
    </div>

    <div class="carousel-inner carousel-frame">
        <div class="carousel-item active">
            <div class="film-pined">
                <img src="{{ asset(path='affiche.png', packageName = 'placeholders') }}" alt="Image de profile"/>
                <div>
                    <h2>Titre du film</h2>
                    <strong>durée</strong>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ex in massa suscipit facilisis tincidunt vel enim. Phasellus aliquet sollicitudin augue nec finibus. Ut finibus iaculis vehicula. Nam condimentum rhoncus tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed lacus risus, pellentesque ac congue quis, posuere sed mi. Aenean dictum est in semper fermentum.

                        Proin vulputate ultrices dapibus. Cras ut lectus commodo, mollis dui a, bibendum sem. Sed sit amet ex sed ligula auctor convallis et nec magna. Maecenas cursus ante dui, et feugiat sem facilisis quis. Morbi sodales eget nibh vel eleifend. Aliquam nec est magna. Duis vehicula lectus et odio facilisis sodales. Ut est ipsum, accumsan sit amet nisi sed, elementum sodales nisl.

                        Nullam lorem augue, tincidunt eget magna vitae, tincidunt volutpat massa. Cras rutrum sem ac risus placerat sagittis. Phasellus ut blandit orci. Cras consequat dolor at tortor venenatis scelerisque. Nullam porta egestas velit nec pulvinar. Mauris eget velit nulla. Curabitur mollis metus elit, in porta neque dictum sit amet. Ut rhoncus consequat risus id elementum. Aenean non feugiat sapien. Quisque gravida, nulla quis efficitur fermentum, diam eros tempor leo, non feugiat dolor tellus vitae justo. Donec mattis ornare tellus, eget accumsan augue dignissim et. Duis placerat quam eget justo pellentesque malesuada. Fusce eget eleifend arcu, et imperdiet mi. Praesent sit amet fermentum eros. </p>
                    <div class="film-pined-gender"><span>genre 1</span><span>genre 2</span></div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="film-pined">
                <img src="{{ asset(path='affiche.png', packageName = 'placeholders') }}" alt="Image de profile"/>
                <div>
                    <h2>Titre de l'autre film</h2>
                    <strong>durée</strong>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ex in massa suscipit facilisis tincidunt vel enim. Phasellus aliquet sollicitudin augue nec finibus. Ut finibus iaculis vehicula. Nam condimentum rhoncus tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed lacus risus, pellentesque ac congue quis, posuere sed mi. Aenean dictum est in semper fermentum.

                        Proin vulputate ultrices dapibus. Cras ut lectus commodo, mollis dui a, bibendum sem. Sed sit amet ex sed ligula auctor convallis et nec magna. Maecenas cursus ante dui, et feugiat sem facilisis quis. Morbi sodales eget nibh vel eleifend. Aliquam nec est magna. Duis vehicula lectus et odio facilisis sodales. Ut est ipsum, accumsan sit amet nisi sed, elementum sodales nisl.

                        Nullam lorem augue, tincidunt eget magna vitae, tincidunt volutpat massa. Cras rutrum sem ac risus placerat sagittis. Phasellus ut blandit orci. Cras consequat dolor at tortor venenatis scelerisque. Nullam porta egestas velit nec pulvinar. Mauris eget velit nulla. Curabitur mollis metus elit, in porta neque dictum sit amet. Ut rhoncus consequat risus id elementum. Aenean non feugiat sapien. Quisque gravida, nulla quis efficitur fermentum, diam eros tempor leo, non feugiat dolor tellus vitae justo. Donec mattis ornare tellus, eget accumsan augue dignissim et. Duis placerat quam eget justo pellentesque malesuada. Fusce eget eleifend arcu, et imperdiet mi. Praesent sit amet fermentum eros. </p>
                    <div class="film-pined-gender"><span>genre 1</span><span>genre 2</span></div>
                </div>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>

</div>
