{% extends 'base.html.twig' %}

{% block title %}Tous les films{% endblock %}

{% block container %}
    <h1>Tous les films</h1>

    <div class="films-grid">
        {% for film in films %}
            {% include 'partials/film_card.html.twig' with {'film': film} %}
        {% else %}
            <p>Aucun film trouvé.</p>
        {% endfor %}
    </div>

{% endblock %}
