body {
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

nav {
    position: fixed;
}

.nav {
    li {
        display: inline-block;
        flex-wrap: wrap;

        a{
            display: block;
            padding: 14px 16px;
            text-align: center;
            text-decoration: none;
        }
    }
}

.header-user-connection{
    display: flex;
    gap: 2em;
    text-align: center;
    align-items: center;

    a {
        background-repeat: no-repeat;
        background-size: cover;
        text-decoration: none;
    }
}

.round-crop {
    overflow: hidden;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.profil-banner {
    margin-top: 1em;
    padding: 1em;
    display: flex;
    background-color: red; /* juste pour visu la div*/
    gap: 1em;
}

.profile-picture {
    height: 10em;
    width: 10em;
}

.profil-info {
    color: azure;
    text-decoration: none;
}

.carousel-inner {
    background-color: #333;
    border: 1em outset #f5a22c;
    color: azure;
}

.film-pined {
    padding: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;

    img {
        height: 30em;
    }
}

.film-pined-gender {
    display: flex;
    gap: 0.5em;
    span {
        color: #f5a22c;
        background-color: dimgray;
        padding: 0.5em;
    }
}

.tools-menu {
    position: absolute;
    background-color: lavender; /* juste pour visu*/
    left: 0;

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

.horizontal-div {
    display: flex;
    gap: 1em;
}

.horizontal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    gap: 1rem;
}


.partie-droite {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}


.partie-gauche {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
