{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block container %}
    <div class="center">
        Paiement effectué !
        Votre paiement a abouti, vos réservations sont visibles sur votre profil

    </div>
{% endblock %}
