{% extends 'base.html.twig' %}

{% block title  %}Accès non autorisé{% endblock %}

{% block container %}
    <div class="center">
        <div>
            <h1>Accès non autorisé</h1>
        </div>
    </div>
{% endblock %}
